In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [2]:
%matplotlib inline

In [3]:
ls

README.md              quota_1-Copy3.ipynb    test.csv
quota_1-Copy1.ipynb    quota_1.ipynb          train.csv
quota_1-Copy2.ipynb    sample_submission.csv  train2.csv

In [4]:
df_train = pd.read_csv("train.csv")

In [5]:
df_train.head()

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0

In [6]:
df_train.tail()

,id,qid1,qid2,question1,question2,is_duplicate
404285,404285,433578,379845,How many keywords are there in the Racket prog...,How many keywords are there in PERL Programmin...,0
404286,404286,18840,155606,Do you believe there is life after death?,Is it true that there is life after death?,1
404287,404287,537928,537929,What is one coin?,What's this coin?,0
404288,404288,537930,537931,What is the approx annual cost of living while...,I am having little hairfall problem but I want...,0
404289,404289,537932,537933,What is like to have sex with cousin?,What is it like to have sex with your cousin?,0

In [7]:
df_train = df_train.fillna(".")

In [8]:
df_test = pd.read_csv('test.csv')

In [9]:
df_test.head()

,test_id,question1,question2
0,0,How does the Surface Pro himself 4 compare wit...,Why did Microsoft choose core m3 and not core ...
1,1,Should I have a hair transplant at age 24? How...,How much cost does hair transplant require?
2,2,What but is the best way to send money from Ch...,What you send money to China?
3,3,Which food not emulsifiers?,What foods fibre?
4,4,"How ""aberystwyth"" start reading?",How their can I start reading?

In [10]:
df_test.shape

(2345796, 3)

In [11]:
df_submission = pd.read_csv('sample_submission.csv')

In [12]:
df_submission.head()

   test_id  is_duplicate
0        0             1
1        1             1
2        2             1
3        3             1
4        4             1

In [13]:
question1 = df_train['question1'].tolist()

In [14]:
word_list = []
splitted_question=[]
for question in question1:
    splitted_question.append(question.split())
    for item in question.split():
        word_list.append(item)

In [15]:
df_question1 = pd.DataFrame(splitted_question)

In [16]:
df_question1.head()

,0,1,2,3,4,5,6,7,8,9,...,115,116,117,118,119,120,121,122,123,124
0,What,is,the,step,by,step,guide,to,invest,in,...,None,None,None,None,None,None,None,None,None,None
1,What,is,the,story,of,Kohinoor,(Koh-i-Noor),Diamond?,None,None,...,None,None,None,None,None,None,None,None,None,None
2,How,can,I,increase,the,speed,of,my,internet,connection,...,None,None,None,None,None,None,None,None,None,None
3,Why,am,I,mentally,very,lonely?,How,can,I,solve,...,None,None,None,None,None,None,None,None,None,None
4,Which,one,dissolve,in,water,quikly,"sugar,","salt,",methane,and,...,None,None,None,None,None,None,None,None,None,None

In [17]:
question2 = df_train.question2

In [18]:
splitted_question2=[]
for question in question2:
#    print(question.split())
    splitted_question2.append(question.split())
    for item in question.split():
        word_list.append(item)

In [19]:
df_question2 = pd.DataFrame(splitted_question2)

In [20]:
df_question2.head()

,0,1,2,3,4,5,6,7,8,9,...,227,228,229,230,231,232,233,234,235,236
0,What,is,the,step,by,step,guide,to,invest,in,...,None,None,None,None,None,None,None,None,None,None
1,What,would,happen,if,the,Indian,government,stole,the,Kohinoor,...,None,None,None,None,None,None,None,None,None,None
2,How,can,Internet,speed,be,increased,by,hacking,through,DNS?,...,None,None,None,None,None,None,None,None,None,None
3,Find,the,remainder,when,[math]23^{24}[/math],is,divided,by,"24,23?",None,...,None,None,None,None,None,None,None,None,None,None
4,Which,fish,would,survive,in,salt,water?,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [21]:
df_train.question1[0].split()[0] == df_train.question2[0].split()[0]

True

In [22]:

def normalized_word_share(row):
    w1 = set(map(lambda word: word.lower().strip(), row['question1'].split(" ")))
    w2 = set(map(lambda word: word.lower().strip(), row['question2'].split(" ")))    
    return 1.0 * len(w1 & w2)/(len(w1) + len(w2))


df_train['word_share'] = df_train.apply(normalized_word_share, axis=1)

In [23]:
def first_word_examinar(row):
    f1 = row['question1'].split()[0]
    f2 = row['question2'].split()[0]
    if f1==f2:
        return 1
    else:
        return 0

In [24]:
df_train['first_word_match']=df_train.apply(first_word_examinar, axis = 1)

In [25]:
df_train.head()

,id,qid1,qid2,question1,question2,is_duplicate,word_share,first_word_match
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0,0.434783,1
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0,0.200000,1
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0,0.166667,1
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0,0.000000,0
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0,0.100000,1

In [26]:
df_train['q1_len'] = df_train['question1'].str.len()
df_train['q2_len'] = df_train['question2'].str.len()

df_train['q1_n_words'] = df_train['question1'].apply(lambda row: len(row.split(" ")))
df_train['q2_n_words'] = df_train['question2'].apply(lambda row: len(row.split(" ")))

In [27]:
df_train.head()

,id,qid1,qid2,question1,question2,is_duplicate,word_share,first_word_match,q1_len,q2_len,q1_n_words,q2_n_words
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0,0.434783,1,66,57,14,12
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0,0.200000,1,51,88,8,13
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0,0.166667,1,73,59,14,10
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0,0.000000,0,50,65,11,9
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0,0.100000,1,76,39,13,7

In [28]:
df_train.columns

Index(['id', 'qid1', 'qid2', 'question1', 'question2', 'is_duplicate',
       'word_share', 'first_word_match', 'q1_len', 'q2_len', 'q1_n_words',
       'q2_n_words'],
      dtype='object')

In [29]:
x_train = df_train[['word_share', 'first_word_match', 'q1_len', 'q2_len', 'q1_n_words',
       'q2_n_words']]

In [30]:
x_train

        word_share  first_word_match  q1_len  q2_len  q1_n_words  q2_n_words
0         0.434783                 1      66      57          14          12
1         0.200000                 1      51      88           8          13
2         0.166667                 1      73      59          14          10
3         0.000000                 0      50      65          11           9
4         0.100000                 1      76      39          13           7
5         0.258065                 0      86      90          16          16
6         0.000000                 0      19      62           4          11
7         0.250000                 0      30      41           7           9
8         0.375000                 1      31      37           8           8
9         0.166667                 0      60      49           9           9
10        0.040000                 0      57     116           9          19
11        0.294118                 1      43      38           9           8
12        0.400000                 0      36      39           7           8
13        0.384615                 1      43      38           7           6
14        0.454545                 1     141     140          29          29
15        0.129032                 0      93      91          15          17
16        0.375000                 1      28      29           4           4
17        0.050000                 0      57      40          12           8
18        0.192308                 1      82      73          14          13
19        0.388889                 1      60      54           9           9
20        0.250000                 1      26      43           5           7
21        0.062500                 0      37      48           6          10
22        0.250000                 0      47      37           9           7
23        0.000000                 0      24      57           7          11
24        0.000000                 0      79      48          17          10
25        0.448276                 1      79      89          14          15
26        0.300000                 1      24      38           4           6
27        0.000000                 0      49      40           8           7
28        0.411765                 1      38      41           8           9
29        0.300000                 1      38      69           8          12
...            ...               ...     ...     ...         ...         ...
404260    0.200000                 0      32      40           6           9
404261    0.380952                 1      58      64          10          12
404262    0.357143                 1      41      32           7           7
404263    0.181818                 0      66      65          11          11
404264    0.115385                 0      78      42          16          10
404265    0.133333                 0      33      33           8           7
404266    0.146341                 0      58     179          12          33
404267    0.350000                 1      52      80          11          15
404268    0.000000                 0      60      44          13           9
404269    0.176471                 0      52      63           7          10
404270    0.375000                 1      43      45           8           8
404271    0.041667                 0      80      65          13          12
404272    0.285714                 1      83      87          15          14
404273    0.269231                 1      47      83          10          16
404274    0.263158                 0      62      51          11           9
404275    0.120000                 0      60      79          10          15
404276    0.333333                 1      26      24           3           3
404277    0.111111                 1      23      32           4           5
404278    0.312500                 1      41      52           6          10
404279    0.222222                 1      66      77          13          16
404280    0.476190                 1      51      55          11          11
404281    0.416667                 1      68      68          13          13
404282    0.230769                 1      43      47           7           6
404283    0.160000                 1      88      61          16          12
404284    0.428571                 1      42      51           6           8
404285    0.440000                 1      85      79          14          13
404286    0.312500                 0      41      42           8           9
404287    0.142857                 0      17      17           4           3
404288    0.025000                 0      94     127          17          25
404289    0.444444                 1      37      45           8          10

[404290 rows x 6 columns]

In [31]:
y_train = df_train.is_duplicate

In [32]:
y_train

0         0
1         0
2         0
3         0
4         0
5         1
6         0
7         1
8         0
9         0
10        0
11        1
12        1
13        1
14        0
15        1
16        1
17        0
18        1
19        0
20        1
21        0
22        0
23        0
24        0
25        0
26        0
27        0
28        0
29        1
         ..
404260    0
404261    1
404262    0
404263    0
404264    0
404265    1
404266    0
404267    1
404268    0
404269    0
404270    0
404271    0
404272    1
404273    1
404274    1
404275    0
404276    0
404277    0
404278    0
404279    0
404280    1
404281    1
404282    1
404283    0
404284    1
404285    0
404286    1
404287    0
404288    0
404289    0
Name: is_duplicate, dtype: int64

In [33]:
from sklearn.cross_validation import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn import metrics

/Users/takuyasakaguchi/anaconda/lib/python3.5/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [34]:
from sklearn.ensemble import RandomForestClassifier

Xtrain, Xtest, ytrain, ytest = train_test_split(x_train, y_train, random_state=0)
clf = RandomForestClassifier(n_estimators=100, random_state=0)
clf.fit(Xtrain, ytrain)
ypred = clf.predict(Xtest)
metrics.accuracy_score(ypred, ytest)

0.70253183342732484

In [35]:
from sklearn.ensemble import GradientBoostingClassifier
Xtrain, Xtest, ytrain, ytest = train_test_split(x_train, y_train, random_state=0)
gbt = GradientBoostingClassifier(max_depth=6, n_estimators=200)
gbt.fit(Xtrain, ytrain)
ypred = gbt.predict(Xtest)
metrics.accuracy_score(ypred, ytest)

0.7209244803261009